/* GROLBAL */
body {
    background-color: #eff0f3;
    color: #2a2a2a;
    font-family: "M PLUS Rounded 1c";
    height: 100%;
    overflow: hidden;
}

h2 {
    color: #0d0d0d;
    margin: 0;
}

.content {
    padding: 30px;
}

.container {
    margin: 5% 15%;
    height: 1000px;
}

/* HEADER */
header {
    background-color: #2a2a2a
}

header h1 {
    color: #ff8e3c;
    margin: 0 0 0 10px;
    padding: 1px;
}
/* PROFILE */

.profile {
    background-color: #fffffe;
    width: 48%;
    height: 215px;
    float: left;
}

.picture {
    float: left;
    margin-right: 5%;
}

.content .description {
    margin-right: 5%;
}

/* TIPS */
#tips {
    width: 50%;
    height: 50%;
    margin: auto 50%;
    overflow: auto;
}

.card {
    height: 215px;
    background-color: #fffffe;
    border-radius: 2%;
    margin-bottom: 5%;
}

.content .description {
    margin-top: 5%;
}

script {
    clear: left;
}