/* GROLBAL */
body {
    background-color: #eff0f3; /* body要素の背景色を#eff0f3に設定する */
    color: #2a2a2a; /* body要素内の文字色を#2a2a2aに設定する */
    font-family: "M PLUS Rounded 1c"; /* body要素内の文字スタイルを"M PLUS Rounded 1c"に設定する */
    height: 100%; /* body要素の範囲を画面いっぱいに設定する */
}

h2 {
    color: #0d0d0d;
    margin: 0;
}

.content {
    padding: 30px;
}

.container {
    margin: 5% 15%;
    height: 1000px;
}

/* HEADER */
header {
    background-color: #2a2a2a
}

header h1 {
    color: #ff8e3c;
    margin: 0 0 0 10px;
    padding: 1px;
}

/* PROFILE */
.profile {
    width: 48%;
    height: auto;
    float: left;
    border-radius: 2%;
}

.picture {
    float: left;
    margin-right: 5%;
}

.content .description {
    margin: 0%;
}

/* TIPS */
#tips {
    width: 50%;
    height: 50%;
    margin: auto 50%;
    overflow: auto;
}

.card {
    height: 215px;
    background-color: #fffffe;
    border-radius: 2%;
    margin-bottom: 5%;
}

.content .description {
    margin-top: 5%;
}

script {
    clear: left;
}

@media
